$dark: #252525;

$primary-light: #E8EFFF;
$primary-light-hover: #DDE6FF;
$primary-light-active: #B8CCFF;


$primary: #195bff;
$primary-hover: #1752E6;
$primary-active: #1449CC;




$main-transition: all .1s ease-in-out;