$dark: #252525;

$primary-light: #E8EFFF;
$primary-light-hover: #DDE6FF;
$primary-light-active: #B8CCFF;

$green-light: #E9FBED;
$green-light-hover: #DFF9E3;
$green-light-active: #BCF2C6;

$green: #27D646;
$green-hover: #23C13F;
$green-active: #1FAB38;

$green-dark: #1DA135;
$green-dark-hover: #17802A;
$green-dark-active: #12601F;
$green-darker: #0E4B19;

$primary: #195bff;
$primary-hover: #1752E6;
$primary-active: #1449CC;




$main-transition: all .1s ease-in-out;